<a href="https://colab.research.google.com/github/GitYutae/AIpython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

split & join

In [4]:
#split : 나누어 리스트로 반환

data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")


for line in lines:
  fields = line.split(",")
  print("Name:",fields[0],"Age:",fields[1],"Occupation:",fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [6]:
#join: 각 요소를 문자열로 변환하고, 주어진 구분자로 결합하여 하나의 문자열로 반환

words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [7]:
data = input()
lines = data.split(" ")

print(lines)

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [13]:
data = input()
print(data.split(" "))

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [12]:
List_data = input()
sentence = '-'.join(List_data)
print(List_data)
print(sentence)

['Geeks', 'for', 'Geeks']
['Geeks', 'for', 'Geeks']
[-'-G-e-e-k-s-'-,- -'-f-o-r-'-,- -'-G-e-e-k-s-'-]

List comprehension

In [16]:
squares = [x**2 for x in range(5) if x%2 == 0 ]
print(squares)

[0, 4, 16]

In [17]:
squares = [x**2 for x in range(0,5,2)]
print(squares)

[0, 4, 16]

In [20]:
#1부터 20까지 3의 배수만 제곱한 리스트

squares = [x**2 for x in range(1,21) if x%3 == 0]
print(squares)

[9, 36, 81, 144, 225, 324]

In [21]:
list_input = [1,2,3,4,5]

squares = [x**2 for x in list_input]
print(squares)

[1, 4, 9, 16, 25]

In [33]:
list_input = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]

squares = [x for x in list_input if "S" in x ]

print(squares)

['Seoul', 'Shanghai']

In [31]:
city = []
list_city = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]

for c in list_city:
  if "S" in c:
    city.append(c)

print(city)

['Seoul', 'Shanghai']

enumerate

In [36]:
#인덱스와 값이 같이 나옴

fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits, start=0):
  print(index, fruit)


# iterable: 반복 가능한(iterable) 객체
# start (선택사항): 인덱스를 시작할 값으로 기본값은 0

0 apple
1 banana
2 cherry

In [45]:
fruit = ['a', 'b', 'c']

for index, fruit in enumerate(fruit):
  print("fruit%d name is %s"%(index, fruit))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [51]:
fruit = ['a', 'b', 'c']

for x in range(0,3):
    print("fruit%d name is %s"%(x,fruit[x]))

fruit0 name is a
fruit1 name is b
fruit2 name is c

zip :  두 개 이상의 순회 가능한 객체를 병렬적으로 순회하면서 각 항목을 튜플로 묶어 반환.

In [54]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]

for name, age in zip(names, ages):
  print(f"{name} is {age} years old")

John is 25 years old
Jane is 30 years old
Doe is 35 years old

In [55]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]

a = dict(zip(names, ages))
print(a)

{'John': 25, 'Jane': 30, 'Doe': 35}

In [56]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

#행 방향 열 방향 각각 더해보기

for A,B,C in zip(list1, list2, list3):
  print(A, B, C)

1 4 7
2 5 8
3 6 9

In [68]:
name = ["M", "N", "S", "A"]
roll_no = [4, 1, 3, 2]

result = list(zip(name, roll_no))
print(result)

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

In [69]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]

a = list((zip(names, ages)))

#enumerate

[('M', 24), ('R', 50), ('C', 18)]

lambda 함수

 이름 없는 함수(익명 함수)를 정의할 때 사용합니다.

In [70]:
double = lambda x: x * 2
print(double(5))

10

In [73]:
add = lambda x,y: x+y
print(add(5,4))

9

map :  함수와 순회 가능한 객체를 받아, 객체의 각 항목에 함수를 적용한 결과를 반환.

In [ ]:
# map(function, iterable1, iterable2, ...)